@model Product

<!-- view types -->
<div class="showcase__item product-widget js-cart__cart-item  " data-cart-item-id="11831">
    <a class="product-widget__link" href="https://store.gaijin.net/story.php?id=11831"></a>

    <div class="product-widget__header">

        <div class="product-badge product-badge_purple">

            <div class="product-badge__item">
                Pre-order
            </div>

        </div>

    </div>

    <div class="product-widget__body product-widget__body_badge">
        <div class="product-widget__poster product-widget-poster">
            <img class=" is-loaded" data-src="https://static-store.gaijin.net/img/items/9C9F071D-DECB-449E-9250-F5352FEFBA97.jpg" alt="" src="https://static-store.gaijin.net/img/items/9C9F071D-DECB-449E-9250-F5352FEFBA97.jpg">
        </div>

        <div class="product-widget__description product-widget-description">


            <div class="product-widget-description__game-label">
                <span class="inline-icon-label inline-icon-label_137"></span>
                War Thunder
            </div>

            <div class="product-widget-description__title">
                Pre-order - F-104S TAF Pack
            </div>

            <div class="product-widget-description__comment">
                <div class="flag flag_wt_italy"></div>

                Rank VII
            </div>

            <!-- table to avoid user content markup errors -->
            <table class="product-widget-description__short-description-wrapper">
                <tbody>
                    <tr>
                        <td>
                            <div class="product-widget-description__short-description">
                                <ul>
                                    <li><i class="flag italy"> </i><i class="flag rank-7"></i><i class="flag air"></i>F-104S TAF <b>*</b></li>
                                    <li><i class="eagle-wt"></i>2000 Golden Eagles</li>
                                    <li><i class="premium-wt"></i>Premium account for 15 days</li>
                                    <li>Pre-order bonus: "Star Fighter" title</li>
                                    <li>Pre-order bonus: <a class="preview-img__link js-img-preview" title="Cat camouflage" href="https://store.gaijin.net/img/screenshots/9C9F071D-DECB-449E-9250-F5352FEFBA97/big/1.jpg">"Cat" camouflage</a> <b>*</b></li>
                                </ul>

                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="product-widget__footer">
        <div class="product-widget__price showcase-item-price">
            <span class="showcase-item-price__default">
                $69.99
            </span>
        </div>


        <div class="product-widget__buy product-widget-buy">
            <div class="product-widget-buy__section-wrapper product-widget-buy__section-wrapper_isAdded">
                <div class="product-widget-buy__section main__uppercase">
                    <a class="product-widget-buy__link" href="https://store.gaijin.net/cart.php"></a>

                    Checkout
                </div>

                <div class="product-widget-buy__section product-widget-buy__section_added-to-cart">
                    <a class="product-widget-buy__link" href="https://store.gaijin.net/cart.php"></a>

                    <svg class="product-widget-buy__basket-icon product-widget-buy__basket-icon_ok">
                        <use href="//store.gaijin.net/templates/shop/assets/img/svg/icon-cart_ok.svg#icon-cart_ok"></use>
                    </svg>

                    <span class="main__mobile-hidden">
                        In the cart
                    </span>
                </div>
            </div>

            <div class="product-widget-buy__section-wrapper">
                <div class="product-widget-buy__section main__uppercase">
                    <a class="product-widget-buy__link" href="/story.php?title=Pre-order_F-104S-TAF-Pack&amp;popupId=buy-popup"></a>

                    Buy

                </div>

                <div class="product-widget-buy__section js-cart__add">
                    <a class="product-widget-buy__link" href="/login.php?return_enc=L3N0b3JlZnJvbnQucGhwP2NhdGVnb3J5PVdhclRodW5kZXI="></a>

                    <svg class="product-widget-buy__basket-icon product-widget-buy__basket-icon_add">
                        <use href="//store.gaijin.net/templates/shop/assets/img/svg/icon-cart_plus.svg#icon-cart_plus"></use>
                    </svg>

                    <span class="main__mobile-hidden">
                        Add to cart
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
