@model ProductsListViewModel

<div class="main-offer__showcase">

    <section class="splide splide-mobile js-slider splide--slide splide--ltr splide--draggable is-active" data-slider-type="mobile" id="splide01" tabindex="0" style="visibility: visible;">
        <div class="splide__track splide-mobile__track" id="splide01-track">
            <ul class="splide__list splide-mobile__list" id="splide01-list" style="transform: translateX(0px);">

                <li class="splide__slide splide-mobile__slide product-widget-mobile product-widget-mobile_color-purple product-widget-mobile_is-badge is-active is-visible" id="splide01-slide01" style="margin-right: 8px;" aria-hidden="false" tabindex="0">
                    <a class="splide__slide-link" href="/story.php?id=11756"></a>
                    <div class="product-widget-mobile__badge">

                        <div class="product-badge product-badge_fixed-height-all-devices  product-badge_purple">

                            <div class="product-badge__item">
                                Pre-order
                            </div>

                        </div>
                    </div>

                    <div class="product-widget-mobile__content">
                        <div class="product-widget-mobile__label">
                            <span class="inline-icon-label inline-icon-label_137"></span>
                            War Thunder
                        </div>

                        <div class="product-widget-mobile__title">
                            Pre-order - A-6E TRAM Intruder Pack
                        </div>
                    </div>

                    <div class="product-widget-mobile__poster
">
                        <img class="js-lazy-load" data-src="https://static-store.gaijin.net/img/carousel/wt_a_6e_intruder_804x440_en.jpg" alt="Pre-order - A-6E TRAM Intruder Pack">
                    </div>

                    <div class="product-widget-mobile__price-wrapper">
                        <div class="product-widget-mobile__price product-widget-mobile__price_new">

                        </div>
                    </div>
                </li>

                <li class="splide__slide splide-mobile__slide product-widget-mobile product-widget-mobile_color-purple product-widget-mobile_is-badge is-visible" id="splide01-slide02" style="margin-right: 8px;" aria-hidden="false" tabindex="0">
                    <a class="splide__slide-link" href="/story.php?id=11800"></a>
                    <div class="product-widget-mobile__badge">

                        <div class="product-badge product-badge_fixed-height-all-devices  product-badge_purple">

                            <div class="product-badge__item">
                                Pre-order
                            </div>

                        </div>
                    </div>

                    <div class="product-widget-mobile__content">
                        <div class="product-widget-mobile__label">
                            <span class="inline-icon-label inline-icon-label_137"></span>
                            War Thunder
                        </div>

                        <div class="product-widget-mobile__title">
                            Pre-order - MiG-21bis "Lazur-M" Pack
                        </div>
                    </div>

                    <div class="product-widget-mobile__poster
">
                        <img class="js-lazy-load" data-src="https://static-store.gaijin.net/img/carousel/804x440_mig_21_bis_lazur_en.jpg" alt="Pre-order - MiG-21bis " lazur-m"="" pack"="">
                    </div>

                    <div class="product-widget-mobile__price-wrapper">
                        <div class="product-widget-mobile__price product-widget-mobile__price_new">
                            $69.99
                        </div>
                    </div>
                </li>


                <li class="splide__slide splide-mobile__slide product-widget-mobile product-widget-mobile_color-purple product-widget-mobile_is-badge is-visible" id="splide01-slide03" style="margin-right: 8px;" aria-hidden="false" tabindex="0">
                    <a class="splide__slide-link" href="/story.php?id=11830"></a>
                    <div class="product-widget-mobile__badge">

                        <div class="product-badge product-badge_fixed-height-all-devices  product-badge_purple">

                            <div class="product-badge__item">
                                Pre-order
                            </div>



                        </div>
                    </div>

                    <div class="product-widget-mobile__content">
                        <div class="product-widget-mobile__label">
                            <span class="inline-icon-label inline-icon-label_137"></span>
                            War Thunder
                        </div>

                        <div class="product-widget-mobile__title">
                            Pre-order - Kfir Canard Pack
                        </div>
                    </div>

                    <div class="product-widget-mobile__poster
">
                        <img class="js-lazy-load" data-src="https://static-store.gaijin.net/img/carousel/804x440_kfir_canard_en.jpg" alt="Pre-order - Kfir Canard Pack">
                    </div>

                    <div class="product-widget-mobile__price-wrapper">
                        <div class="product-widget-mobile__price product-widget-mobile__price_new">
                            $69.99
                        </div>
                    </div>
                </li>


                <li class="splide__slide splide-mobile__slide product-widget-mobile product-widget-mobile_color-purple product-widget-mobile_is-badge is-visible" id="splide01-slide04" style="margin-right: 8px;" aria-hidden="false" tabindex="0">
                    <a class="splide__slide-link" href="/story.php?id=11831"></a>
                    <div class="product-widget-mobile__badge">

                        <div class="product-badge product-badge_fixed-height-all-devices  product-badge_purple">

                            <div class="product-badge__item">
                                Pre-order
                            </div>

                        </div>
                    </div>

                    <div class="product-widget-mobile__content">
                        <div class="product-widget-mobile__label">
                            <span class="inline-icon-label inline-icon-label_137"></span>
                            War Thunder
                        </div>

                        <div class="product-widget-mobile__title">
                            Pre-order - F-104S TAF Pack
                        </div>
                    </div>

                    <div class="product-widget-mobile__poster
">
                        <img class="js-lazy-load" data-src="https://static-store.gaijin.net/img/carousel/804x440_f_104s_starfighter_en.jpg" alt="Pre-order - F-104S TAF Pack">
                    </div>

                    <div class="product-widget-mobile__price-wrapper">
                        <div class="product-widget-mobile__price product-widget-mobile__price_new">
                            $69.99
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <ul class="splide__pagination">
            <li>
                <button class="splide__pagination__page is-active" type="button" aria-controls="splide01-slide01" aria-label="Go to slide 1" aria-current="true"></button>
            </li>
            <li>
                <button class="splide__pagination__page" type="button" aria-controls="splide01-slide02" aria-label="Go to slide 2"></button>
            </li>
            <li>
                <button class="splide__pagination__page" type="button" aria-controls="splide01-slide03" aria-label="Go to slide 3"></button>
            </li>
            <li>
                <button class="splide__pagination__page" type="button" aria-controls="splide01-slide04" aria-label="Go to slide 4"></button>
            </li>
        </ul>
    </section>

    <div class="splide splide-widget js-slider splide--slide splide--ltr is-active" data-slider-type="widget" id="splide02" style="visibility: visible;">
        <div class="splide__slider">
            <div class="splide__track" id="splide02-track">
                <div class="splide__list" id="splide02-list" style="transform: translateX(0px); transition: transform 400ms cubic-bezier(0.42, 0.65, 0.27, 0.99) 0s;">

                    <div class="splide__slide splide-widget__slide is-visible" id="splide02-slide01" style="width: 804px;" aria-hidden="false" tabindex="0">
                        <div class="splide__slide-bg showcase-main-offer__poster">
                            <img class=" is-loaded" data-src="https://static-store.gaijin.net/img/carousel/wt_a_6e_intruder_804x440_en.jpg" alt="Pre-order - A-6E TRAM Intruder Pack" src="https://static-store.gaijin.net/img/carousel/wt_a_6e_intruder_804x440_en.jpg">
                        </div>
                        <div class="splide__slide-content showcase-main-offer showcase-main-offer_middle">
                            <a class="showcase__item-link" href="/story.php?id=11756"></a>
                            <div class="showcase-main-offer__badge">
                                <div class="product-badge   product-badge_purple">

                                    <div class="product-badge__item">
                                        Pre-order
                                    </div>
                                </div>
                            </div>
                            <div class="showcase-main-offer__content  ">
                                <div class="showcase-main-offer__title">
                                    <div class="showcase-main-offer__game-label">
                                        <span class="inline-icon-label inline-icon-label_137"></span>
                                    </div>
                                    Pre-order - A-6E TRAM Intruder Pack
                                </div>
                            </div>
                            <div class="splide-main__price splide-price splide-price_purple">
                                <div class="splide-price__item">
                                    $69.99
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="splide__slide splide-widget__slide is-visible" id="splide02-slide02" style="width: 804px;" aria-hidden="false" tabindex="0">
                        <div class="splide__slide-bg showcase-main-offer__poster">
                            <img class=" is-loaded" data-src="https://static-store.gaijin.net/img/carousel/804x440_mig_21_bis_lazur_en.jpg" alt="Pre-order - MiG-21bis " lazur-m"="" pack"="" src="https://static-store.gaijin.net/img/carousel/804x440_mig_21_bis_lazur_en.jpg">
                        </div>

                        <div class="splide__slide-content showcase-main-offer showcase-main-offer_middle">
                            <a class="showcase__item-link" href="/story.php?id=11800"></a>

                            <div class="showcase-main-offer__badge">

                                <div class="product-badge   product-badge_purple">

                                    <div class="product-badge__item">
                                        Pre-order
                                    </div>

                                </div>
                            </div>

                            <div class="showcase-main-offer__content  ">
                                <div class="showcase-main-offer__title">
                                    <div class="showcase-main-offer__game-label">
                                        <span class="inline-icon-label inline-icon-label_137"></span>
                                    </div>

                                    Pre-order - MiG-21bis "Lazur-M" Pack
                                </div>
                            </div>

                            <div class="splide-main__price splide-price splide-price_purple">

                                <div class="splide-price__item">
                                    $69.99
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="splide__slide splide-widget__slide splide__slide--show-from-right is-active is-visible" id="splide02-slide03" style="width: 804px;" aria-hidden="false" tabindex="0">
                        <div class="splide__slide-bg showcase-main-offer__poster">
                            <img class=" is-loaded" data-src="https://static-store.gaijin.net/img/carousel/804x440_kfir_canard_en.jpg" alt="Pre-order - Kfir Canard Pack" src="https://static-store.gaijin.net/img/carousel/804x440_kfir_canard_en.jpg">
                        </div>

                        <div class="splide__slide-content showcase-main-offer showcase-main-offer_middle">
                            <a class="showcase__item-link" href="/story.php?id=11830"></a>

                            <div class="showcase-main-offer__badge">

                                <div class="product-badge   product-badge_purple">

                                    <div class="product-badge__item">
                                        Pre-order
                                    </div>



                                </div>
                            </div>

                            <div class="showcase-main-offer__content  ">
                                <div class="showcase-main-offer__title">
                                    <div class="showcase-main-offer__game-label">
                                        <span class="inline-icon-label inline-icon-label_137"></span>
                                    </div>

                                    Pre-order - Kfir Canard Pack
                                </div>
                            </div>

                            <div class="splide-main__price splide-price splide-price_purple">

                                <div class="splide-price__item">
                                    $69.99
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="splide__slide splide-widget__slide is-visible" id="splide02-slide04" style="width: 804px;" aria-hidden="false" tabindex="0">
                        <div class="splide__slide-bg showcase-main-offer__poster">
                            <img class=" is-loaded" data-src="https://static-store.gaijin.net/img/carousel/804x440_f_104s_starfighter_en.jpg" alt="Pre-order - F-104S TAF Pack" src="https://static-store.gaijin.net/img/carousel/804x440_f_104s_starfighter_en.jpg">
                        </div>

                        <div class="splide__slide-content showcase-main-offer showcase-main-offer_middle">
                            <a class="showcase__item-link" href="/story.php?id=11831"></a>

                            <div class="showcase-main-offer__badge">

                                <div class="product-badge   product-badge_purple">

                                    <div class="product-badge__item">
                                        Pre-order
                                    </div>



                                </div>
                            </div>

                            <div class="showcase-main-offer__content  ">
                                <div class="showcase-main-offer__title">
                                    <div class="showcase-main-offer__game-label">
                                        <span class="inline-icon-label inline-icon-label_137"></span>
                                    </div>

                                    Pre-order - F-104S TAF Pack
                                </div>
                            </div>

                            <div class="splide-main__price splide-price splide-price_purple">

                                <div class="splide-price__item">
                                    $69.99
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <ul class="splide-pagination splide-pagination_lines">
            <li>
                <button class="splide-pagination__page" type="button" aria-controls="splide02-slide01" aria-label="Go to slide 1"></button>
            </li>
            <li>
                <button class="splide-pagination__page" type="button" aria-controls="splide02-slide02" aria-label="Go to slide 2"></button>
            </li>
            <li>
                <button class="splide-pagination__page is-active" type="button" aria-controls="splide02-slide03" aria-label="Go to slide 3" aria-current="true"></button>
            </li>
            <li>
                <button class="splide-pagination__page" type="button" aria-controls="splide02-slide04" aria-label="Go to slide 4"></button>
            </li>
        </ul>
    </div>
</div>

<div class="main-offer__aside">

    <div class="main-offer__widget widget-offer widget-offer_3-items widget-offer_equipment">
        <a class="widget-offer__link" href="/?category=WarThunderPacks"></a>
        <img class="widget-offer__poster" src="https://static-store.gaijin.net/templates/shop/assets/img/jpg/Categories/wt_packs.jpg" alt="Vehicles">
        <div class="widget-offer__title">
            Vehicles
        </div>
    </div>

    <div class="main-offer__widget widget-offer widget-offer_3-items widget-offer_eagle">
        <a class="widget-offer__link" href="/?category=GoldenEagles"></a>
        <img class="widget-offer__poster" src="https://static-store.gaijin.net/templates/shop/assets/img/jpg/Categories/wt_golden_eagles.jpg" alt="Golden eagles">
        <div class="widget-offer__title">
            Golden eagles
        </div>
    </div>

    <div class="main-offer__widget widget-offer widget-offer_3-items widget-offer_premium-wt">
        <a class="widget-offer__link" href="/?category=PremiumAccount"></a>
        <img class="widget-offer__poster" src="https://static-store.gaijin.net/templates/shop/assets/img/jpg/Categories/wt_premium.jpg" alt="Premium account">
        <div class="widget-offer__title">
            Premium account
        </div>
    </div>







</div>



